/*--------------------------------------------------------------
## Header Styling
--------------------------------------------------------------*/

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 2;
}
