/*--------------------------------------------------------------
## Layout Styling
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Onest&display=swap");

.h1,
h1 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 65px;
  line-height: 1;
  &.alt {
    font-family: "Onest", sans-serif;
  }
}

.h3,
h3 {
  font-family: "Onest", sans-serif;
  letter-spacing: -1px;
  font-size: 33px;
}

body {
  color: #f2eeea;
  font-size: 16px;
  background: #867c73;
  overflow: unset;
  font-family: "Onest", sans-serif;
  -webkit-font-smoothing: antialiased;
  ::selection {
    background: #d2fd78;
  }
}

main {
  overflow: unset;
}
